/**
 * Site header
 */
.site-header {
  padding-top: $spacing-unit * 0.4;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

a.site-title {
  color: saturate($pink, 5%);

  &:hover {
    color: $grey-color-light;
    text-decoration: none;
    // background-color: $hover-color; <- not sure
  }
}

.site-title {
  @include relative-font-size(1.7);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  //margin-top: $spacing-unit;
  float: left;
  font-family: $monospace-font-family;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: $spacing-unit * 0.7;
    }
  }

  .page-link:hover{
    text-decoration: none;
    color: lighten($text-color, 20%);
  }

  @include media-query($on-palm) {
    position: absolute;
    top: $spacing-unit;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $pink;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.page-description,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  margin-top: $spacing-unit;
  @include relative-font-size(0.9375);
  color: $text-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(39% - (#{$spacing-unit} / 2));
  width:         calc(39% - (#{$spacing-unit} / 2));
  padding-right: $spacing-unit * 0.2;
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));

  > p {
    margin-bottom: 0px;
    font-weight: bold;
  }
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));

  > p {
    margin-bottom: 0px;
    font-weight: bold;
  }

  > ul {
    list-style: none;
    margin-left: 0px;
  }
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.1);
  font-family: $monospace-font-family;
  text-align: center;
  top: $spacing-unit * 0.5;
  margin: 0px $spacing-unit * 1.5 0px $spacing-unit * 1.5;
  position: relative;
}

.post-list-border{
  border: 1px solid $grey-color;
}

.post-list {
  margin-left: 0;
  list-style: none;
  margin: auto;
  width: 90%;
  padding: $spacing-unit * 0.4;
  padding-left: $spacing-unit * 1.1;
  padding-right: $spacing-unit * 1.1;
  padding-bottom: $spacing-unit * 0.4;

  > li {
    margin-bottom: $spacing-unit * 1.1;
    padding-bottom: $spacing-unit * 0.4;
    margin-top: $spacing-unit * 0.8;

    &:not(:first-child) {
      margin-top: $spacing-unit * 1.1;
    }
    
    &:not(:last-child) {
      border-bottom: 1px solid $grey-color; //add some decorations
    }

    &:last-child {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

a.post-link {
  font-family: $monospace-font-family;
  color: $white;
  display: block;
  letter-spacing: -1px;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */

.post {
  padding: $spacing-unit * 0.4;
  padding-left: $spacing-unit * 1.22;
  padding-right: $spacing-unit * 1.1;
  padding-bottom: $spacing-unit * 0.4;
  padding-top: $spacing-unit * 0.68;
  
  border: 1px solid $grey-color;
}

.post-header {
  color: $white;
}

.post-title {
  @include relative-font-size(1.5);
  font-family: $monospace-font-family;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: $spacing-unit * 0.5;
  margin-bottom: 3px;

  @include media-query($on-laptop) {
    @include relative-font-size(1.5);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h2 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h3 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
