---
layout: default
---

<h2 class="post-list-heading">
  <div class="background">
    <span>[</span>
     <span class="title">{{ page.date | date: "%B %Y" }} </span>
    <span>]</span>
  </div>
</h2>

<article class="post">
  <div class="post-content top-half-margin">
    <div class="archive">
      <ul>
        {% for post in page.posts %}
        <li>
          <a href="{{ post.url | relative_url }}"> <span class="archive-date">{{ post.date | date_to_string }}</span> {{ post.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</article>
