---
layout: default
---

<h2 class="post-list-heading">
  <div class="background">
    <span>[</span>
    <span class="title">{{ page.url | split: "/" | last }} </span>
    <span>]</span>
  </div>
</h2>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span>{{ page.date | date: date_format }}</span>
      </time>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <ul class="paginator post-links clearfix">
  {% if page.previous.url %}
    <li>
      <a class="newer" href="{{page.previous.url}}"><< {{page.previous.title}}</a>
    </li>
  {% endif %}
  {% if page.next.url %}
    <li>
      <a class="older" href="{{page.next.url}}">{{page.next.title}} >> </a>
    </li>
  {% endif %}
  </ul>

  {% if page.tags %}
    <div class="tags">
      <p>Tags:</p>
      <ul>
        {%- for tag in page.tags -%}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <li>
          <p>
            [ <a class="tag-link" href="/tag/{{tag_name}}" rel="category tag">
                {{ tag_name }}
              </a> 
            ]
          </p>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  {% endif %}


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="rss-subscribe">
  <p>
    <a href="{{ 'feed.xml' | relative_url }}">subscribe via <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
      </svg> <span>{{ site.rss | escape }} RSS</span></a>
  </p>
</div>
