---
layout: default
---

<h2 class="post-list-heading">
  <div class="background">
    <span>[</span>
     <span class="title">{{ page.date | date: "%Y" }} </span>
    <span>]</span>
  </div>
</h2>

<article class="post">
  <div class="post-content top-half-margin">
    <div class="archive">
      <ul>
        {% for post in page.posts %}
        <li>
          <a href="{{ post.url | relative_url }}"><span class="archive-date">{{ post.date | date_to_string }}</span> {{ post.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</article>

<div class="rss-subscribe">
  <p>
    <a href="{{ 'feed.xml' | relative_url }}">subscribe via <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
      </svg> <span>{{ site.rss | escape }} RSS</span></a>
  </p>
</div>
